<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.oem.admin.modules.agent.dao.AgentPictureMapper">
    <resultMap id="BaseResultMap" type="com.credit.oem.admin.modules.agent.entity.AgentPicture">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="pic_no" jdbcType="VARCHAR" property="picNo"/>
        <result column="pic_path" jdbcType="VARCHAR" property="picPath"/>
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="sys_user_id" jdbcType="BIGINT" property="sysUserId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, pic_no, pic_path, pic_url, type, sys_user_id,create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from o_agent_picture
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_agent_picture
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.credit.oem.admin.modules.agent.entity.AgentPicture">
    insert into o_agent_picture (id, pic_no, pic_path, 
      pic_url, type,sys_user_id, create_time,
      update_time)
    values (#{id,jdbcType=BIGINT}, #{picNo,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},#{sysUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.credit.oem.admin.modules.agent.entity.AgentPicture">
        insert into o_agent_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="picNo != null">
                pic_no,
            </if>
            <if test="picPath != null">
                pic_path,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sysUserId != null">
                sys_user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="picNo != null">
                #{picNo,jdbcType=VARCHAR},
            </if>
            <if test="picPath != null">
                #{picPath,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="sysUserId != null">
                #{sysUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.credit.oem.admin.modules.agent.entity.AgentPicture">
        update o_agent_picture
        <set>
            <if test="picNo != null">
                pic_no = #{picNo,jdbcType=VARCHAR},
            </if>
            <if test="picPath != null">
                pic_path = #{picPath,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.credit.oem.admin.modules.agent.entity.AgentPicture">
    update o_agent_picture
    set pic_no = #{picNo,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      sys_user_id = #{sysUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryOneByPicNo" parameterType="HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from o_agent_picture
    where pic_no = #{picNo}
  </select>


</mapper>
