<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.oem.admin.modules.agent.dao.AgentMessageMapper">
  <resultMap id="BaseResultMap" type="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="audit_sys_user_id" jdbcType="BIGINT" property="auditSysUserId" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_remark" jdbcType="VARCHAR" property="auditRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, type, audit_state, remark, creator, updater, agent_id, audit_sys_user_id, 
    audit_time, audit_remark, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from o_agent_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from o_agent_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    insert into o_agent_message (id, title, type, 
      audit_state, remark, creator, 
      updater, agent_id, audit_sys_user_id, 
      audit_time, audit_remark, create_time, 
      update_time, message)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{auditState,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{updater,jdbcType=VARCHAR}, #{agentId,jdbcType=BIGINT}, #{auditSysUserId,jdbcType=BIGINT}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    insert into o_agent_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="auditSysUserId != null">
        audit_sys_user_id,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="auditRemark != null">
        audit_remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="message != null">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=BIGINT},
      </if>
      <if test="auditSysUserId != null">
        #{auditSysUserId,jdbcType=BIGINT},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null">
        #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    update o_agent_message
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=BIGINT},
      </if>
      <if test="auditSysUserId != null">
        audit_sys_user_id = #{auditSysUserId,jdbcType=BIGINT},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemark != null">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    update o_agent_message
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      audit_state = #{auditState,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=BIGINT},
      audit_sys_user_id = #{auditSysUserId,jdbcType=BIGINT},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.credit.oem.admin.modules.agent.entity.AgentMessage">
    update o_agent_message
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      audit_state = #{auditState,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      agent_id = #{agentId,jdbcType=BIGINT},
      audit_sys_user_id = #{auditSysUserId,jdbcType=BIGINT},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      audit_remark = #{auditRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="queryAgentMessageList"
          parameterType="com.credit.oem.admin.modules.agent.model.param.MessageInfoParam"
          resultType="com.credit.oem.admin.modules.agent.model.data.MessageInfoData">
    select agMsg.id,ag.company_name as agentName,agMsg.title,
    agMsg.create_time as commitTime,
    agMsg.audit_time as auditTime,
    agMsg.audit_state as auditState,
    agMsg.audit_remark as auditRemark,
    agMsg.type
    from o_agent_message as agMsg
    INNER JOIN o_agent as ag on agMsg.agent_id = ag.id
    where 1=1
    <if test="agentId != null and agentId !=''">
      and ag.id= #{agentId}
    </if>
    <if test="agentName != null and agentName !=''">
      and ag.company_name like concat('%',#{agentName},'%')
    </if>
    <if test="auditState != null and auditState !='' or auditState==0 ">
      and agMsg.audit_state= #{auditState}
    </if>
    <if test="type != null and type !=''">
      and agMsg.type= #{type}
    </if>
    <if test="agentMobile!=null and  agentMobile!=''">
      and ag.mobile like concat('%',#{agentMobile},'%')
    </if>
    order by agMsg.update_time desc
  </select>


  <update id="auditAgentMessage" parameterType="java.util.Map">
    update o_agent_message
    <set>
      audit_state = #{auditState,jdbcType=INTEGER},
      audit_time = NOW(),
      <if test="auditRemark != null and auditRemark !=''">
        audit_remark = #{auditRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditSysUserId != null and auditSysUserId !=''">
        audit_sys_user_id = #{auditSysUserId},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT} and audit_state in (0,2);
  </update>

  <update id="modifyAgentMessage" parameterType="java.util.Map">
    update o_agent_message
    <set>
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=LONGVARCHAR},
      audit_state = #{auditState,jdbcType=INTEGER},
      updater = #{updater},
      type=#{type},
      audit_time = null,
      audit_remark = null
    </set>
    where id = #{id,jdbcType=VARCHAR} and audit_state in (0,2,3)
  </update>

  <update id="deleteAgentMessage" parameterType="java.util.Map">
    update o_agent_message
    <set>
      audit_state = -1,
      audit_time = NOW()
    </set>
    where id = #{id,jdbcType=VARCHAR} and audit_state &lt;&gt; -1
    <if test="agentId!=null and  agentId!=''">
      and agent_id = #{agentId}
    </if>
  </update>

  <select id="countByCreatorWithinSeconds" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT count(0)
        from o_agent_message
        where creator= #{creator} and TIMESTAMPDIFF(SECOND,create_time,NOW()) &lt; #{seconds,jdbcType=BIGINT}
    </select>

</mapper>
