<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.oem.admin.modules.agent.dao.CreUserMapper">
    <resultMap id="BaseResultMap" type="com.credit.oem.admin.modules.agent.entity.CreUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cl_account_id" jdbcType="INTEGER" property="clAccountId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="source_type" jdbcType="INTEGER" property="sourceType"/>
        <result column="salesman_id" jdbcType="INTEGER" property="salesmanId"/>
        <result column="salesman" jdbcType="VARCHAR" property="salesman"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_qq" jdbcType="VARCHAR" property="userQq"/>
        <result column="user_department" jdbcType="INTEGER" property="userDepartment"/>
        <result column="user_position" jdbcType="INTEGER" property="userPosition"/>
        <result column="user_thumbs" jdbcType="VARCHAR" property="userThumbs"/>
        <result column="wx_openid" jdbcType="VARCHAR" property="wxOpenid"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="is_auth" jdbcType="INTEGER" property="isAuth"/>
        <result column="auth_memo" jdbcType="VARCHAR" property="authMemo"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="agent_id" jdbcType="INTEGER" property="agentId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="bit_onoff" jdbcType="INTEGER" property="bitOnoff"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cl_account_id, company_id, user_name, user_phone, user_password, user_type, source_type,
    salesman_id, salesman, user_email, user_qq, user_department, user_position, user_thumbs,
    wx_openid, last_login_time, last_login_ip, is_auth, auth_memo, delete_status, version,
    create_user, create_time, update_time, agent_id, nick_name, bit_onoff
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cre_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cre_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser">
    insert into cre_user (id, cl_account_id, company_id,
      user_name, user_phone, user_password,
      user_type, source_type, salesman_id,
      salesman, user_email, user_qq,
      user_department, user_position, user_thumbs,
      wx_openid, last_login_time, last_login_ip,
      is_auth, auth_memo, delete_status,
      version, create_user, create_time,
      update_time, agent_id, nick_name,
      bit_onoff)
    values (#{id,jdbcType=INTEGER}, #{clAccountId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER},
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userType,jdbcType=INTEGER}, #{sourceType,jdbcType=INTEGER}, #{salesmanId,jdbcType=INTEGER},
      #{salesman,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR},
      #{userDepartment,jdbcType=INTEGER}, #{userPosition,jdbcType=INTEGER}, #{userThumbs,jdbcType=VARCHAR},
      #{wxOpenid,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR},
      #{isAuth,jdbcType=INTEGER}, #{authMemo,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER},
      #{version,jdbcType=INTEGER}, #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{agentId,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR},
      #{bitOnoff,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser">
        insert into cre_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clAccountId != null">
                cl_account_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="salesmanId != null">
                salesman_id,
            </if>
            <if test="salesman != null">
                salesman,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userQq != null">
                user_qq,
            </if>
            <if test="userDepartment != null">
                user_department,
            </if>
            <if test="userPosition != null">
                user_position,
            </if>
            <if test="userThumbs != null">
                user_thumbs,
            </if>
            <if test="wxOpenid != null">
                wx_openid,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="isAuth != null">
                is_auth,
            </if>
            <if test="authMemo != null">
                auth_memo,
            </if>
            <if test="deleteStatus != null">
                delete_status,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="agentId != null">
                agent_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="bitOnoff != null">
                bit_onoff,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="clAccountId != null">
                #{clAccountId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=INTEGER},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="salesmanId != null">
                #{salesmanId,jdbcType=INTEGER},
            </if>
            <if test="salesman != null">
                #{salesman,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null">
                #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userDepartment != null">
                #{userDepartment,jdbcType=INTEGER},
            </if>
            <if test="userPosition != null">
                #{userPosition,jdbcType=INTEGER},
            </if>
            <if test="userThumbs != null">
                #{userThumbs,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenid != null">
                #{wxOpenid,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="isAuth != null">
                #{isAuth,jdbcType=INTEGER},
            </if>
            <if test="authMemo != null">
                #{authMemo,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="agentId != null">
                #{agentId,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="bitOnoff != null">
                #{bitOnoff,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser">
        update cre_user
        <set>
            <if test="clAccountId != null">
                cl_account_id = #{clAccountId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=INTEGER},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="salesmanId != null">
                salesman_id = #{salesmanId,jdbcType=INTEGER},
            </if>
            <if test="salesman != null">
                salesman = #{salesman,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null">
                user_qq = #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userDepartment != null">
                user_department = #{userDepartment,jdbcType=INTEGER},
            </if>
            <if test="userPosition != null">
                user_position = #{userPosition,jdbcType=INTEGER},
            </if>
            <if test="userThumbs != null">
                user_thumbs = #{userThumbs,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenid != null">
                wx_openid = #{wxOpenid,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
            </if>
            <if test="isAuth != null">
                is_auth = #{isAuth,jdbcType=INTEGER},
            </if>
            <if test="authMemo != null">
                auth_memo = #{authMemo,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="agentId != null">
                agent_id = #{agentId,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="bitOnoff != null">
                bit_onoff = #{bitOnoff,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser">
    update cre_user
    set cl_account_id = #{clAccountId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      source_type = #{sourceType,jdbcType=INTEGER},
      salesman_id = #{salesmanId,jdbcType=INTEGER},
      salesman = #{salesman,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_qq = #{userQq,jdbcType=VARCHAR},
      user_department = #{userDepartment,jdbcType=INTEGER},
      user_position = #{userPosition,jdbcType=INTEGER},
      user_thumbs = #{userThumbs,jdbcType=VARCHAR},
      wx_openid = #{wxOpenid,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      is_auth = #{isAuth,jdbcType=INTEGER},
      auth_memo = #{authMemo,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      agent_id = #{agentId,jdbcType=INTEGER},
      nick_name = #{nickName,jdbcType=VARCHAR},
      bit_onoff = #{bitOnoff,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="countNewUser" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM cre_user
    WHERE create_time &gt;= #{beginTime} AND create_time &lt;= #{endTime}
    AND delete_status = '0'
  </select>

    <select id="selectSelective" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cre_user
        where 1=1
        <if test="id != null">
            and #{id,jdbcType=INTEGER}
        </if>
        <if test="clAccountId != null">
            and cl_account_id = #{clAccountId,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="userName != null">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="userPhone != null">
            and user_phone = #{userPhone,jdbcType=VARCHAR}
        </if>
        <if test="userPassword != null">
            and user_password = #{userPassword,jdbcType=VARCHAR}
        </if>
        <if test="userType != null">
            and user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="sourceType != null">
            and source_type = #{sourceType,jdbcType=INTEGER}
        </if>
        <if test="salesman != null">
            and salesman = #{salesman,jdbcType=VARCHAR}
        </if>
        <if test="userEmail != null">
            and user_email = #{userEmail,jdbcType=VARCHAR}
        </if>
        <if test="userQq != null">
            and user_qq = #{userQq,jdbcType=VARCHAR}
        </if>
        <if test="userDepartment != null">
            and user_department = #{userDepartment,jdbcType=INTEGER}
        </if>
        <if test="userPosition != null">
            and user_position = #{userPosition,jdbcType=INTEGER}
        </if>
        <if test="userThumbs != null">
            and user_thumbs = #{userThumbs,jdbcType=VARCHAR}
        </if>
        <if test="wxOpenid != null">
            and wx_openid = #{wxOpenid,jdbcType=VARCHAR}
        </if>
        <if test="lastLoginTime != null">
            and last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastLoginIp != null">
            and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
        </if>
        <if test="deleteStatus != null">
            and delete_status = #{deleteStatus,jdbcType=INTEGER}
        </if>
        <if test="version != null">
            and version = #{version,jdbcType=INTEGER}
        </if>
        <if test="createUser != null">
            and create_user = #{createUser,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="agentId != null">
            and agent_id = #{agentId,jdbcType=INTEGER}
        </if>
        <if test="nickName != null">
            and nick_name = #{nickName,jdbcType=VARCHAR}
        </if>
        <if test="bitOnoff != null">
            and bit_onoff = #{bitOnoff,jdbcType=INTEGER}
        </if>
    </select>

    <!--List list,Set collection-->
    <select id="selectMobileListByMobileSet" parameterType="java.util.Set" resultType="java.util.Map">
        select
        id,user_phone
        from cre_user
        where id IN
        <foreach collection="userIdSet" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByUserPhone" parameterType="HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cre_user
        where user_phone = #{userPhone,jdbcType=VARCHAR}
    </select>

    <select id="selectUserIdListByAgentId" parameterType="map" resultType="java.lang.Integer">
        SELECT
        t2.id
        FROM
        o_agent_cre_user t1
        LEFT JOIN cre_user t2 ON t1.cre_user_id = t2.id
        where t1.agent_id=#{agentId}
        <if test="start!=null">
            <if test="size!=null">
                limit #{start,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
            </if>
        </if>
    </select>

    <select id="selectUserCountByAgentId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT count(0)
        from o_agent_cre_user t1 LEFT JOIN cre_user t2 on t1.cre_user_id=t2.id
        where t1.agent_id=#{agentId}
    </select>

    <select id="findUserIdMobileByMobileAndAgentId" parameterType="java.util.Map" resultType="java.util.Map">
        select
        t2.id,t2.user_phone
        FROM
        o_agent_cre_user t1
        LEFT JOIN cre_user t2 ON t1.cre_user_id = t2.id
        where 1=1
        and user_phone like #{userPhone,jdbcType=VARCHAR}
        and  t1.agent_id=#{agentId}
    </select>


	<select id="getCreUserByUserName" resultType="int">
		SELECT count(1)
		from api_acount_info a 
		INNER JOIN cre_user c on c.id = a.cre_user_id and c.delete_status = '0'
		where (a.name = #{userName} or c.user_phone = #{userName}) and a.delete_status = '0'
	</select>
	
	<insert id="saveCreUser" keyProperty="id" useGeneratedKeys="true" parameterType="com.credit.oem.admin.modules.agent.entity.CreUser">
		insert into cre_user
		       (user_email,user_phone,staffId,last_login_time,last_login_ip,delete_status,version,create_user,create_time,update_time,updateBy)
	    values
	           (#{userEmail},#{userPhone},#{staffId},#{lastLoginTime},#{lastLoginIp},#{deleteStatus},#{version},#{createUser},#{createTime},#{updateTime},#{updateBy})
	
	</insert>
</mapper>