<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.oem.admin.modules.agent.dao.StatisMapper">

    <select id="getUserRechargeMoneyAndNumber" parameterType="Map" resultType="java.util.Map">
        SELECT
		ifnull(sum(CASE t3.type
		WHEN "1" THEN			t3.money
		WHEN "2" THEN			t3.money * - 1
		ELSE			t3.money END),0) AS money,
		ifnull(sum(CASE t3.type
		WHEN "1" THEN			t3.number
		WHEN "2" THEN			t3.number * - 1
		ELSE			t3.number		END	) ,0)AS number,
		t3.cre_user_id as creUserId,
		ifnull(t1.account ,0)as account
		FROM
		cre_user_account t1
		LEFT JOIN trd_order t3 ON t1.cre_user_id=t3.cre_user_id
		and t3.products_id in (1,2,3,4)
		AND t3.`status` = 1
		AND t3.delete_status = 0
		and t3.pay_type not in (9,10)
		and t3.cre_user_id=#{creUserId}
		WHERE t1.delete_status = 0	and t1.cre_user_id=#{creUserId}	 
		GROUP BY t1.cre_user_id
    </select>

	<select id="getUserRechargeMoneyAndNumber2" parameterType="List" resultType="java.util.Map">
		SELECT
		ifnull(sum(CASE t3.type
		WHEN "1" THEN			t3.money
		WHEN "2" THEN			t3.money * - 1
		ELSE			t3.money END),0) AS money,
		ifnull(sum(CASE t3.type
		WHEN "1" THEN			t3.number
		WHEN "2" THEN			t3.number * - 1
		ELSE			t3.number		END	) ,0)AS number,
		t3.cre_user_id as creUserId,
		t1.account as account
		FROM
		cre_user_account t1
		LEFT JOIN trd_order t3 ON t1.cre_user_id=t3.cre_user_id
		WHERE
		t3.products_id in (1,2,3,4)
		AND t3.`status` = 1
		AND t3.delete_status = 0
		and t3.pay_type not in (9,10)
		and t3.cre_user_id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.creUserId}
		</foreach>
		GROUP BY t3.cre_user_id
	</select>

</mapper>